<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<!-- <parameter name="URL" value="https://p1003-tmn.hci.int.sap.eu2.hana.ondemand.com/itspaces"></parameter>
<parameter name="USERNAME" value="C5276278"></parameter>
<parameter name="PASSWORD" value="3@e08is024"></parameter> -->
  <test name="Test">
    <classes>
      <class name="com.cpi.testcase.LoginCPI"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
